<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Figure Skating Exploration</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/mystyle.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/pingendo.css')}}">
        <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    </head>
    
    <body>
        <div class="navbar navbar-default navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header" id="header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                        <span class="sr-only"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Figure Skating Exploration</a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-ex-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="/">Home</a></li>
                        <li><a href="/top3_2">Top 3</a></li>
                        <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                        <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <!--Content-->
        
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>

        <!--Footer-->
        <div class="container" id="footer">
            <p class="text-center"><br>© Copyright<b> Sophia COM 5940,</b> CUHK</p>
        </div>

    </body>

</html>