{% extends "base.html" %}
{% block content %}

<!--Cover-->

    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1>FIGURE SKATING EXPLORATION</h1><br>
                    <p><b>For anyone who are interested in figure skating and would like to explore it with us.</b></p>
                </div>
            </div>
        </div>
     </div>

<!--Homepage-->

    <div class="row">
        <div class="col-md-12 text-center">
            <h2>{{message}}</h2>
        </div>
    </div>

{% endblock %}