.body {
    font-family:"Raleway", sans-serif;
}

.cover .navbar {
    background-color: rgba(6, 12, 34, 0.98);
}

.cover p {
    margin-bottom: 15px;
    font-size: 21px;
    font-weight: 700;
    color: #ebebeb;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  line-height: 1.1;
  color: #0e1b4d;
}

.back-to-top {
    position: fixed;
    background: #f82249;
    color: #fff;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50px;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s ease-in-out;
}

.fa-angle-up:before {
    content: "\f106";
    font-size: xx-large;
}