{% extends "base.html" %}
{% block content %}

  {% for record in records.items %}
       {% if loop.index == 1 %}{% set counter = ( counter | default(1) ) %}{% endif %}
        {% if counter == 1 %}<div class="row">{% endif %}
        <div class="col-md-4">
          <div class="thumbnail">
              <p>recordID:{{ record.recordID }}<br>Name:{{ record.Name }}<br>Ranking:{{ record.Ranking }}<br>Nation:{{ record.Nation }}<br>SP:{{ record.SP }}<br>FS:{{ record.FS }}<br>Total:{{ record.Total }}</p>
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                </div>
          </div>
        </div> 
       {% if counter == 3 %}</div><!--end row-->{%  set counter = ( counter | default(1) ) %}{% else %}{% set counter = ( counter | default(0) ) + 1 %}{% endif %}
  {% endfor %}
  <div class="container" style="float: left;">
  {% for page in records.iter_pages() %}  
    {% if page %}
        <a href="{{url_for('album')}}/{{ page }}">{{ page }}</a>
    {% else %}
        ...
    {% endif %}
  {% endfor %}  
  </div>
{% endblock %}