<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="../static/jquery/jquery2-0-3.js"></script>
        <script type="text/javascript" src="../static/bootstrap/bootstrap3-3-4.min.js"></script>
        <link href="../static/font-awesome/font-awesome4-3-0.min.css"
        rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="../static/bootstrap/bootstrap4-4-1.min.css">
        <link rel="stylesheet" href="../static/main.css">
        <!--自定义css-->
        <link rel="stylesheet" href="../static/mycss.css">
        <title>Fit-up</title>
    </head>
    
    <body>
        <!-- top navbar -->
        <div class="navbar-default navbar-static-top">
            <div class="row">
                <a href="javascript:history.back();"><img src="../static/assets/icon/左箭头.png" width="25" height="25" style="margin-top: 0.5rem;float:left;margin-left:1.5rem;"></a>
                <h5 class="text-center title-center" style="height: 3rem;">关于Fit-up</h5>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <img src="..\static\assets\icon\logo2.png" class="img-responsive title-center"
                        style="width:100px;">
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p>健身KOL的独家交流圈，最热创作话题、内容运营指导、专家一对一、品牌商投放对接，陪伴你一步步成长为百万粉丝大V。
                            <br>
                            <br>Fit-up团队成员毕业于香港中文大学、复旦大学、上海交通大学等知名高校，另有前网易资深内容运营和前北京电视台节目编导加盟团队。 我们具备丰富的内容制作、IP打造和营销推广的行业经验。
                            &nbsp;
                            <br>
                            <br>联系我们：linku202003@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <a href="/privacy"><p>《软件许可及服务协议》和《隐私保护指引》</p></a>
                        <p>Copyright@Fit-up 2020
                            <br>All Rights Reserved</p>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>