<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css"
        rel="stylesheet" type="text/css">
        <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css"
        rel="stylesheet" type="text/css">
    </head>
    
    <body>
        <div data-cid="igk9jua1rvcawa6c" data-link_cid="" class="group" style="left: 0px; top: 0px; width: 738px; height: 36px; position: absolute; z-index: 396; opacity: 1;">
            <div data-cid="ik9jua1rvtqs8eq" data-link_cid="" class="widget rounded_rect hcenter vmiddle"
            style="width: 738px; height: 36px; left: 0px; top: 0px; z-index: 5; background-color: rgb(240, 242, 245); border-color: rgb(230, 233, 240); border-width: 1px; border-style: solid; border-radius: 4px; font-size: 14px; padding: 0px; text-align: center; line-height: 20px; font-weight: normal; font-style: normal; opacity: 1;">
                <div class="text" style="padding: 0px;">
                    <p>&nbsp;</p>
                </div>
                <div class="region gesture "></div>
            </div>
            <div data-cid="ik9jua1rva5fpxg" data-link_cid="" class="widget rich_text hleft vtop auto"
            style="width: 60px; height: 14px; left: 347px; top: 11px; z-index: 6; font-size: 14px; text-align: left; font-weight: normal; font-style: normal; opacity: 1;">
                <div class="rich-text">
                    <p style="line-height:0; margin-bottom:0px;">
                        <span class="--mb--rich-text" data-boldtype="0" style="font-family:Helvetica; font-weight:400; font-size:14px; color:rgb(48, 49, 51); font-style:normal; letter-spacing:0px; line-height:14px; text-decoration:none;">日常打卡</span>
                    </p>
                </div>
                <div class="region gesture "></div>
            </div>
            <div data-cid="ik9jua1rvyn6078" data-link_cid="" class="widget rich_text hleft vtop auto"
            style="width: 60px; height: 14px; left: 263px; top: 11px; z-index: 7; font-size: 14px; text-align: left; font-weight: normal; font-style: normal; opacity: 1;">
                <div class="rich-text">
                    <p style="line-height:0; margin-bottom:0px;">
                        <span class="--mb--rich-text" data-boldtype="0" style="font-family:Helvetica; font-weight:400; font-size:14px; color:rgb(48, 49, 51); font-style:normal; letter-spacing:0px; line-height:14px; text-decoration:none;">健身动作</span>
                    </p>
                </div>
                <div class="region gesture "></div>
            </div>
            <div data-cid="ik9jua1rv5nir0c" data-link_cid="" class="widget rich_text hleft vtop auto"
            style="width: 60px; height: 14px; left: 179px; top: 11px; z-index: 8; font-size: 14px; text-align: left; font-weight: normal; font-style: normal; opacity: 1;">
                <div class="rich-text">
                    <p style="line-height:0; margin-bottom:0px;">
                        <span class="--mb--rich-text" data-boldtype="0" style="font-family:Helvetica; font-weight:400; font-size:14px; color:rgb(48, 49, 51); font-style:normal; letter-spacing:0px; line-height:14px; text-decoration:none;">健身饮食</span>
                    </p>
                </div>
                <div class="region gesture "></div>
            </div>
            <div data-cid="ik9jua1rvwrg59x" data-link_cid="" class="widget rich_text hleft vtop auto"
            style="width: 60px; height: 14px; left: 14px; top: 11px; z-index: 9; font-size: 14px; text-align: left; font-weight: normal; font-style: normal; opacity: 1;">
                <div class="rich-text">
                    <p style="line-height:0; margin-bottom:0px;">
                        <span class="--mb--rich-text" data-boldtype="0" style="font-family:Helvetica; font-weight:400; font-size:14px; color:rgb(48, 49, 51); font-style:normal; letter-spacing:0px; line-height:14px; text-decoration:none;">全部话题</span>
                    </p>
                </div>
                <div class="region gesture "></div>
            </div>
            <div class="widget rich_text hleft vtop auto" data-cid="ik9jua1rvi8dq3o"
            data-link_cid="" style="width: 60px; height: 14px; left: 431px; top: 10px; z-index: 10; font-size: 14px; text-align: left; font-weight: normal; font-style: normal; opacity: 1;">
                <div class="rich-text">
                    <p style="line-height:0; margin-bottom:0px;">
                        <span class="--mb--rich-text" data-boldtype="0" style="font-family:Helvetica; font-weight:400; font-size:14px; color:rgb(48, 49, 51); font-style:normal; letter-spacing:0px; line-height:14px; text-decoration:none;">健身穿搭</span>
                    </p>
                </div>
                <div class="region gesture "></div>
            </div>
            <div data-cid="ik9jua1rv9w0emm" data-link_cid="" class="widget rich_text hleft vtop auto"
            style="width: 60px; height: 14px; left: 514px; top: 10px; z-index: 11; font-size: 14px; text-align: left; font-weight: normal; font-style: normal; opacity: 1;">
                <div class="rich-text">
                    <p style="line-height:0; margin-bottom:0px;">
                        <span class="--mb--rich-text" data-boldtype="0" style="font-family:Helvetica; font-weight:400; font-size:14px; color:rgb(48, 49, 51); font-style:normal; letter-spacing:0px; line-height:14px; text-decoration:none;">健身成果</span>
                    </p>
                </div>
                <div class="region gesture "></div>
            </div>
            <div data-cid="ik9jua1rvkmct6t" data-link_cid="" class="widget rich_text hleft vtop auto"
            style="width: 60px; height: 14px; left: 597px; top: 11px; z-index: 12; font-size: 14px; text-align: left; font-weight: normal; font-style: normal; opacity: 1;">
                <div class="rich-text">
                    <p style="line-height:0; margin-bottom:0px;">
                        <span class="--mb--rich-text" data-boldtype="0" style="font-family:Helvetica; font-weight:400; font-size:14px; color:rgb(48, 49, 51); font-style:normal; letter-spacing:0px; line-height:14px; text-decoration:none;">好物种草</span>
                    </p>
                </div>
                <div class="region gesture "></div>
            </div>
            <div data-cid="ik9jua1rv9fybfr" data-link_cid="" class="widget rounded_rect hcenter vmiddle"
            style="width: 60px; height: 2px; left: 15px; top: 34px; z-index: 13; background-color: rgb(25, 137, 250); border-color: rgba(255, 0, 0, 0); border-width: 1px; border-style: solid; border-radius: 0px; font-size: 14px; padding: 0px; text-align: center; line-height: 20px; font-weight: normal; font-style: normal; opacity: 1;">
                <div class="text" style="padding: 0px;">
                    <p>&nbsp;</p>
                </div>
                <div class="region gesture "></div>
            </div>
            <div data-cid="ik9jua1rv12432u" data-link_cid="" class="widget rich_text hleft vtop auto"
            style="width: 60px; height: 14px; left: 97px; top: 11px; z-index: 14; font-size: 14px; text-align: left; font-weight: normal; font-style: normal; opacity: 1;">
                <div class="rich-text">
                    <p style="line-height:0; margin-bottom:0px;">
                        <span class="--mb--rich-text" data-boldtype="0" style="font-family:Helvetica; font-weight:400; font-size:14px; color:rgb(48, 49, 51); font-style:normal; letter-spacing:0px; line-height:14px; text-decoration:none;">心得分享</span>
                    </p>
                </div>
                <div class="region gesture "></div>
            </div>
            <div data-cid="ik9jua1rvv2b96s" data-link_cid="" class="widget rich_text hleft vtop auto"
            style="width: 30px; height: 14px; left: 680px; top: 11px; z-index: 15; font-size: 14px; text-align: left; font-weight: normal; font-style: normal; opacity: 1;">
                <div class="rich-text">
                    <p style="line-height:0; margin-bottom:0px;">
                        <span class="--mb--rich-text" data-boldtype="0" style="font-family:Helvetica; font-weight:400; font-size:14px; color:rgb(48, 49, 51); font-style:normal; letter-spacing:0px; line-height:14px; text-decoration:none;">其他</span>
                    </p>
                </div>
                <div class="region gesture "></div>
            </div>
            <div class="region gesture "></div>
        </div>
    </body>

</html>