<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="/static/jquery/jquery2-0-3.js"></script>
        <script type="text/javascript" src="/static/bootstrap/bootstrap3-3-4.min.js"></script>
        <link href="/static/font-awesome/font-awesome4-3-0.min.css"
        rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="/static/bootstrap/bootstrap4-4-1.min.css">
        <link rel="stylesheet" href="/static/main.css">
        <!--自定义css-->
        <link rel="stylesheet" href="/static/mycss.css">
        <title>LinkU</title>
    </head>
    
    <body>
      <div class="section">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="thumbnail">
                <img src="https://unsplash.imgix.net/photo-1423683249427-8ca22bd873e0?fm=jpg&amp;s=5e57c661d0f772ce269188a6f5325708"
                 class="img-responsive">
                  <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p>promotion
                    <br>time&nbsp;
                    <br>platform</p>
                    <a target="_blank" class="value"><em>price</em></a>
                    <a target="_blank" class="g-tag-green tags-other">tag</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      <div class="section">
        <div id="footer">
          <div class="col-xs-3 mt-2">
            <a href="/home"><img src="/static/assets/icon/动态1.png" width="30" height="30"></a>
              <p class="footer-notselected" style="font-size: 10px">动态</p>
          </div>
          <div class="col-xs-3 mt-2">
            <a href="/chance"><img src="/static/assets/icon/机遇2.png" width="30" height="30"></a>
              <p class="footer-selected" style="font-size: 10px">机遇</p>
          </div>
          <div class="col-xs-3 mt-2">
            <a href="/bibi"><img src="/static/assets/icon/哔哔1.png" width="30" height="30"></a>
              <p class="footer-notselected" style="font-size: 10px">发现</p>
          </div>
          <div class="col-xs-3 mt-2">
            <a href="/me"><img src="/static/assets/icon/我1.png" width="30" height="30"></a>
              <p class="footer-notselected" style="font-size: 10px">我</p>
          </div>
        </div>
      </div>
    </body>
</html>